<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>

<div class="body">
    <div class="container" id="login-container">
      <div class="form-container sign-in">
        <!-- Formulario de login -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h1>Login</h1>
        
          <!-- Icones das redes sociais -->
          <div class="social-icons">  
            <a href="#" class="icon"><i class="fi fi-brands-google"></i></a>
            <a href="#" class="icon"><i class="fi fi-brands-facebook"></i></a>
            <a href="#" class="icon"><i class="fi fi-brands-instagram"></i></a>
            <a href="#" class="icon"><i class="fi fi-brands-linkedin"></i></a>
          </div>
  
          <span>Ou use seu email para login</span>
  
          <!-- Campo de email -->
          <input type="email" formControlName="email" placeholder="Email">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
            E-mail inválido.
          </div>
  
          <!-- Campo de senha -->
          <input type="password" formControlName="password" placeholder="Password">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
            A senha deve ter pelo menos 6 caracteres.
          </div>
  
          <a href="#">Esqueceu sua senha?</a>
  
          <!-- Botão de login -->
          <button type="submit" [disabled]="loginForm.invalid">Login</button>
  
          <div *ngIf="statusMessage" class="status-message" [ngClass]="{ success: statusMessage.success, error: !statusMessage.success }">
            {{ statusMessage.message }}
          </div>
        </form>
      </div>
    </div>
  </div>
  