<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>

<div class="body">
    <div class="container" id="login-container">
        <div class="form-container sign-in">
            <form id="login-form">
                <h1>Login</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fi fi-brands-google"></i></a>
                    <a href="#" class="icon"><i class="fi fi-brands-facebook"></i></a>
                    <a href="#" class="icon"><i class="fi fi-brands-instagram"></i></a>
                    <a href="#" class="icon"><i class="fi fi-brands-linkedin"></i></a>
                </div>
                <span>Ou use seu email para login</span>
                <input type="email" id="login-email" placeholder="Email" required>
                <input type="password" id="login-password" placeholder="Password" required>
                <a href="#">Esqueceu sua senha?</a>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>